<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>一生一世电影网</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>


</head>
<body class="about">
<style type="text/css">

    .about{
        background-color: gainsboro;
        padding: 30px 0px;
        margin: 10px 0px;
    }
    .template{
        background-color: #e9e9e9;
        padding: 10px;
        margin: 5px;

    }

</style>

<div class="container">
    <div class="row">
        <div th:each="video : ${videos}" class="template">
            <a th:href="'/manage/doDelete?id='+${video.id}">删除</a>
            <h3 th:text="'ID:'+${video.id}"></h3>
            <h3 th:text="'NAME:'+${video.name}"></h3>
        </div>

    </div>

</div>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>